header{
  text-align: center;
  text-size-adjust: large;
  background-color: rgb(178, 134, 186);
  color: black;
  height: 100px;
}
footer{
  color: black;
  text-decoration-color: rgb(226, 43, 43);
  text-align: center;
  text-size-adjust: large;
  background-color: rgb(187, 161, 240);
  height: 100px;
}

section{
  text-align: center;
  background-color: lightpink;
  text-size-adjust: 60px;
  
}
#book:hover{
  /* cursor: pointer blue; */
 border: thick solid green; 
}


#supermario:hover{
  /* cursor: pointer blue; */
 border: thick solid green; 
}

#superman:hover{
  border: thick solid green;
}


#jigsaw:hover{
  /* cursor: pointer blue; */
 border: thick solid green; 
}

#apple:hover{
  border: thick solid green;
}

#walter:hover{
  border:thick solid green
}



#foot:hover{
  border:thick solid red
}

#anchor:hover #book {fill:red;}

#p2{
  text-size-adjust: 100px;
}